
<P>

Tikamgarh  is a town and a tehsil in Tikamgarh district in the Indian state of Madhya Pradesh.[4] The city serves as a district headquarters. The earlier name of Tikamgarh was 'Tehri' (i.e., a triangle) consisting of three hamlets, forming a rough triangle. In Tikamgarh town there is locality still known as 'Purani Tehri' (Old Tehri). Until Indian independence in 1947, Tikamgarh, formerly called Tehri, was part of the kingdom of Orchha, which was founded in the 16th century by the Bundeli chief Rudra Pratap Singh, who became the first King of Orchha. In 1783 the capital of the state was moved to Tehri, about 40 miles south of Orchha, which was home to the fort of Tikamgarh, and the town eventually took the name of the fort. The district is famous for the old fort of Kundar known as Garh Kundar, which was built by Khangars and remained the capital of kshatriya Khangar rulers from 1180 to 1347.
</P>

